name: Destroy Infrastructure

on:
  workflow_dispatch: # This enables the manual "Run" button

env:
  AWS_REGION: us-east-1
  TF_STATE_BUCKET: "yogeshtiwari-tf-state" # Ensure this matches your bucket name

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend-config="bucket=${{ env.TF_STATE_BUCKET }}"

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
